{% extends 'base.html' %}

{% block title %}
<title>Snacks About us</title>
{% endblock title %}

{% block mainh1 %}
<main>
    <h1>This my About Page</h1>
    <section id="will">
        <h2>Will Koger</h2>
        <p id="intro">My name is will koger, I served in the military from 2008 to 2014 as paratrooper. Afterwards i spent 6 mos various
            gigs like construction, working on a ranch and backpacking through national parks. I’ve been working in supply chain
            operations for the past 6 years. Currently i’m studying software development at night while working as inbound
            supervisor.I want to get in to software development cause I believe developers are the foundation and most impactful
            contributors to a successful organization.Through my experience in the military and operations i’ve learned to be
            tenacious and resourceful. I think that those skills are the building blocks to being a good developer.</p>
    </section>

</main>

{% endblock mainh1 %}